<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ThemeKey" value="system" />
    <add key="TypographyKey" value="Simple" />
    <add key="IsCompactLayout" value="false" />
    <add key="IsSidebarVisible" value="true" />
    <add key="IsStatusBarVisible" value="true" />
    <add key="IsPreviewVisible" value="true" />
    <add key="IsAlwaysOnTop" value="false" />
    <add key="SelectedSidebarTabIndex" value="0" />
    <add key="EditorZoom" value="1" />
    <add key="ShowLineNumbers" value="false" />
    <add key="HasSeenOnboardingGuide" value="false" />
    <add key="WindowWidth" value="1280" />
    <add key="WindowHeight" value="820" />
  </appSettings>
</configuration>
